*{
  margin: 0;
}
.menu{
  display: block;
  background-color: rgb(20, 24, 34);
  padding-right: 60px;
  text-align: right;
  height: 70px;
}

.menu ul img{
  height: 60px;
  padding-right: 800px;
  line-height: 40px;
  float: left;
}

.menu ul{
  display: inline-block;
}

.menu li{
  display: inline-block;
  padding-left: 60px;
}

.menu a{
  color: rgb(102, 102, 143);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

.menu a:hover{
  color: white;
}
