<div class="d-flex justify-content-around">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem; margin-top: 100px;">
          <img src="../../../assets/card1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Battlefield</p>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 50px;margin-top: 100px;">
        <div class="card" style="width: 18rem">
          <img src="../../../assets/card2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Call of Duty</p>
          </div>
        </div>
      </div>
      <div class="col" style="padding-left: 50px;margin-top: 100px;">
        <div class="card" style="width: 18rem">
          <img src="../../../assets/card3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Gears</p>
          </div>
        </div>
      </div>
    </div>
</div>
